.orderOnline__headline {
    text-align: center;
    margin: calc(var(--header-height) + 108px) 0 0 0;
}

.orderonline__wrapper {
    position: relative;
    margin-top: 80px;
}

.orderonline__menu-list {
    flex-wrap: nowrap;
    overflow: auto visible;
    padding-left: 0;
    list-style-type: none;
    margin: 0 -15px 0 -15px;    
    padding-bottom: 60px;
    /* this is to fix the select bug */
}

.orderonline__menu-list-item {
    padding-left: 15px;
    padding-right: 15px;
    
}

.item-wrapper {
    position: relative;
    border: 2px solid #E9EAF0;
    border-radius: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.img {
    width: 100%;
    display: block;
}

.orderonline__details-wrapper {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.item-headline {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.9rem;
    margin: 0;
}

.item-description {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.9rem;
    margin: 8px 0 auto 0;
}

.item-price-and-quantity {
    margin: 40px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.item-price {
    font-size: 3.2rem;
    line-height: 4.3rem;
    font-weight: 700;
    color: hsla(27, 95%, 29%, 1);
    display: flex;
    margin: 0;
    align-items: center;
}

.item-dollar {
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 700;
    margin-right: 4px;
}

.quantity-text {
    position: relative;
    top: -14px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.9rem;
}

.quantity-handler {
    display: flex;
    flex-direction: column;
}

/* select */

.select {
    position: relative;
}

.select-header {
    min-width: 62px;
    min-height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 8px;
    border: 1px solid #d8e6ff;
    border-radius: 8px;
    z-index: 10;
    cursor: default;
}

.selected-value {
    font-size: 1.4rem;
}

.select-header img {
    font-size: 1.2rem;

}

.select-list {
    --select-list-height: 60px;
    position: absolute;
    top: 27px;
    width: 100%;
    background-color: #fff;
    list-style-type: none;
    font-size: 1.4rem;
    outline: none;
    padding-left: 0;
    border: 1px solid #d8e6ff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    max-height: var(--select-list-height);
    overflow: scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    display: none; 
    pointer-events: none;
    /*after onclick onto the options*/
}

.select-list::-webkit-scrollbar {
    display: none;
    /* Microsoft edge to disable scrollbars */
  }

.select-list.open {
    display: block;
}

.select-item {
    padding: 4px 8px;
    cursor: default;
    overflow: hidden;
    pointer-events: initial;
}

.select-item:hover {
    background-color: #ccc;
}

/* Checkbox */

.item-wrapper input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 0;
    height: 0;
}

.item-wrapper label {
    position: absolute;
    top: 18px;
    left: 18px;
    background-color: #fff;
    border-radius: 8px;
    background-image: none;
    width: 32px;
    height: 32px;

}

.item-wrapper input[type="checkbox"]:checked + label {
    background: #fff url("../../../public/images/check_24px.png") no-repeat center center;
}

.get-total-cost {
    display: none;
}


/* Form handler css */


.form-group input {
    /* input */
}

.form {

}

.form-container {
    margin-top: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group.invalid input {
    border-color: #F48B36;
    outline: #F48B36;
}

.form-group.invalid input::placeholder {
    color: #F48B36;
}


.form-label {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.4rem;
    color: #000;
}

.form-control {
    /* remove later */
    width: 100%;
    font-size: 1.6rem;
    border: 2px solid #BBC8D4;
    border-radius: 4px;
    padding: 21px 16px;
    margin: 16px 0;
}

.form-control:focus {
    outline: none;
}

.form-control::-webkit-input-placeholder,
.form-control:-ms-input-placeholder,
.form-control::placeholder {
    font-size: 1.6rem;
    font-weight: 600;
}

.form-message {
    color: #C15803;
    font-size: 1.8rem;
    margin-bottom: 16px;
    line-height: 2.4rem;
}

.form-submit { 
    width: 100%;
    padding: 21px 20px;
    background: #fff;
    outline: none;
    border-radius: 4px;
    border: 2px solid #DB8E4F;
    font-size: 1.6rem;
    color: #DB8E4F;
    margin-top: 12px;
}

.form-wrapper {
    display: flex;
}

.form-left {
    flex-basis: 50%;
}

.cash-payment-notif {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.9rem;
    margin-bottom: 54px;
    display: block;
}

.form-right {
    margin-left: 30px;
    flex-basis: 50%;
}

.form-right button {
    cursor: pointer;
}

.Summary__headline {
    font-size: 2.4rem;
    font-weight: 400;
    margin: 0;
    line-height: 3.3rem;
}

.Summary__costs {
    text-align: right;
    font-size: 3.2rem;
    font-weight: 700;
    margin: 0;
    line-height: 4.4rem;
}



/* Summary handler */

.Summary__list {
    padding-left: 0;
    list-style-type: none;
    margin-top: 12px;
    margin-bottom: 20px;
}

.Summary__item-name {
    display: inline-block;
}

.Summary__list-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.6rem;
    line-height: 2.2rem;
    letter-spacing: 1.6px;
    font-weight: 800;
    text-align: left;
    text-transform: uppercase;
    margin: 4px 0;
}

.Summary__item-price {
    display: inline-block;
}

.spacer {
    position: relative;
    right: 0;
    width: 175px;
    height: 1px;
    background-color: #000;
    display: block;
    margin: 0px 0px 12px auto;
}

.total-cost {
    display: none;
}

.Summary__empty {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.2rem;
}

/* menu arrow css */

.orderonline__arrowComponent-wrapper {
    position: absolute;
    right: 0;
    top: -60px;
}

.right-arrow-icon {
    cursor: pointer;
    margin-left: 12px;
}

.left-arrow-icon {
    cursor: pointer;
}

/* resolution < 1023px: mobile, tablet */

@media (max-width:1023px) {
        .select-header {
            min-width: 72px;
            padding: 8px;
        }

        .select-item {
            padding: 8px;
        }

        .form-wrapper {
            display: flex;
            flex-wrap: wrap;
        }

        .form-left {
            flex-basis: 100%;

        }

        .form-right {
            flex-basis: 100%;
            margin-left: unset;
            margin-bottom: 40px
        };
}

/* mobile */
@media (max-width: 739px) {
    .mobile-padding {
        padding: 20px;
    }

    .select-list {
        --select-list-height: 76px;
    }

    .item-price {
        position: relative;
        top: 8px;
    }

    .item-wrapper {
        border-radius: 16px;
    }
}