/* font family, font-size, line-height, box-sizing */

/* Something along the line makes this bug possible for some reason.. polifilled, app router, Hot reload */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Playfair+Display:ital,wght@0,400;0,700;0,800;1,700&display=swap'); */

@import 'normalize.css';
@import 'css/fonts.css'; /* originated from the google API above, that was weird */

*{
  /* background-color: rgba(0, 128, 0, 0.02); */
}

:root {
  /* font-family, colors */
  --Open-sans: 'Open Sans', sans-serif;
  --Playfair: 'Playfair Display', serif;
  --primary-color: #DB8E4F;
  --header-color: #F3F3F3;
  --header-button: #A75A1B;
  --cta-button: #A75008;
  --white-color: #fff;
  --content-text-color: #25313C;
  --footer-text-color: #4B5B69;
  --price-color: #904304;
  --header-height: 80px;

  /* Burger menu */
  --line-width: 24px;
  --line-height: 2px;
  --line-color: var(--primary-color);
  --burger-height:18px;
  --animation-time: 0.6s;
}

.primary-color {
  color: var(--primary-color);
}

html {
  font-size: 62.5%;
  line-height: 1.4rem;
  box-sizing: border-box;
  font-family: var(--Open-sans);
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

h1,h2,h3,h4,h5,.header__logo, .about-us__quote {
  font-family: var(--Playfair);
}

* {
  box-sizing: inherit;
}

/* common */
.btn {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  min-width: 176px;
  height: 56px;
  border-radius: 4px;
  padding: 16px 40px;
  text-decoration: none;
  color: var(--white-color);
}

.heading {
  font-size: 5.2rem;
  font-weight: 800;
  line-height: 6.9rem;
}

/* Header */

.header {
  height: var(--header-height);
  background-color: var(--header-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__wrapper{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.header-list{
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
}

.header__logo {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 800;
  letter-spacing: 0.01rem;
}

.header__logo-letter {
  font-size: 3.2rem;
}

.header-list-items-links{
  display: block;
  padding: 12px;
  text-decoration: none;
  color: var(--content-text-color);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  transition: ease-in 0.2s;
}

.header-list-items-links:hover {
  color: var(--primary-color);
}

.header-list-items-btn {
  border: 2px solid #A75A1B;
  font-size: 1.6rem;
  margin-left: 12px;
  color:#A75A1B;
  padding: 10px 16px;
  border-radius: 4px;
}

.header-list-items-btn:hover {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

/* hero section */

.hero {
  display: block;
  margin-top: var(--header-height);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  padding-top: 60%;
}

.hero-wrapper {
  position: relative;
  top:0;
}

.hero__texts {
  margin-top: -50%;
  position: absolute;
  padding: 0 0;
  color: var(--white-color);
  z-index: 1;
}

.hero__panorama {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 1rem;
}

.hero__headlines {
  margin:8px 0 0 -6px;
}

.hero__description {
  margin: 4px 0 0 -4px;
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-weight: 400;
}

.hero__cta-buttons {
  margin: 120px 0 0 0;
}

.hero__primary-cta {
  margin-left: -4px;
  background-color: #A75008;
  transition: ease-in 0.2s;
}

.hero__primary-cta:hover {
  background-color: var(--primary-color);
}

.hero__cta {
  margin-left: 30px;
  border: 2px solid var(--white-color);
  padding: 14px 40px;
  transition: ease-in 0.2s;
}

.hero__cta:hover {
  border: 2px solid rgba(255,255,255,0.8);
  color: rgba(255,255,255,0.8);
}

/* menu section */

.menu .menu__wrapper {
  padding: 80px 0 0 0;
}

.menu__heading {
  text-align: center;
}

.menu__combos-list {
  list-style-type: none;
  display: flex;
  padding-left: 0;
  margin:80px 0 0 0;
}

.menu__combos-list-item {
  text-align: center;
  border-radius: 8px;
  padding: 28px 0;
  background-color: rgba(219, 142, 79, 0.1);
  cursor: pointer;
  transition: background-color 0.15s ease-in;
}

.menu__combos-list-item--active {
  background-color: var(--primary-color);
  cursor: default;
}

.menu__item-heading {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 700;
  margin: 0;
}

.menu__item-description {
  display: block;
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-weight: 400;
  margin-top: 16px;
}

.menu__details-wrapper {
  margin-top: 68px;
  background-color: rgba(219, 142, 79, 0.1);
  padding: 48px 66px;
  border-radius: 8px;
}


.menu__details-firstline {
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.menu__details-comboname {
  font-size: 2.6rem;
  line-height: 3rem;
  font-weight: 700;
  margin: 0;
}

.menu__details-dollars {
  font-size: 1.8rem;
  position: relative;
  left: -4px;
}

.menu__details-comboprice {
  font-size: 2.6rem;
  line-height: 3rem;
  font-weight: 700;
  margin: 0;
}

.menu__details-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.menu__details-infos:last-child {
  margin: 20px 0 12px 0;
}

.menu__details-infos-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0 24px 0;
}

.menu__details-combo-piece {
  font-size: 2rem;
  line-height: 2.4rem;
  margin: 0;
  font-weight: 600;
}

.menu__details-dollars-small {
  font-size: 1.4rem;
  position: relative;
  left: -4px;
}

.menu__details-combo-piece-price {
  font-size: 2.2rem;
}

.menu__details-infos-texts {
  font-size: 1.6rem;
  line-height: 2rem;
  margin: 0;
}

.menu__details-piece-description {
  padding-right: 40px;
  margin-top: 8px;
  display: block;
}

/* About us */
.about-us {
  display: flex;
  padding: 100px 0 0 0;
  position: relative;
  color: var(--content-text-color);
}

.about-us__infos {
  display: flex;
  flex-direction: column;
  position: relative;
}

.about-us__heading {
  margin: 0;
}

.about-us__description {
  margin: 24px 0 0 0;
  font-size: 1.8rem;
  line-height: 2.9rem;
  font-weight: 400;
}

.about-us__readmore {
  margin: 12px 0 0 0;
  text-align: right;
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-weight: 400;
  color: #A75A1B;
  text-decoration: none;
  display: block;
  transition: ease-in 0.2s;
  cursor: default;
}

.about-us__readmore:hover {
  color: var(--primary-color);
  cursor:  default;
}

.about-us__quote {
  color: var(--content-text-color);
  font-size: 1.6rem;
  line-height: 2.8rem;
  position: absolute;
  bottom: 6%;
  max-width: 40%;
  left: 16%;
}

.about-us__image {
  width: 100%;
}

.highlight {
  color: #A75A1B;
  font-size: 2.4rem;
}

.highlight-main {
  font-size: 3.2rem;
}

.about-us__quote-chef {
  text-align: right;
  margin-top: 20px;
  margin-right: 12%;
}

/* contact */
.contact {
  display: flex;
  padding: 120px 0 60px 0;
  color: var(--content-text-color);
}


.contact-infos {
  margin-top: -12px;
}

.contact__image {
  width: 100%;
  border-radius: 8px;
}

.contact-headline {
  margin: 0;
}

.contact-description {
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin-top: 20px;
}

.contact-seperator {
  height: 1px;
  width: 176px;
  background-color: rgba(37, 49, 60,0.6);
  display: block;
  margin: 52px 0;
}

.contact-smheadline {
  font-size: 3.2rem;
  line-height: 4.2rem;
  font-weight: 700;
}

.contact-highlight {
  color: rgb(167, 90, 27);
  text-decoration: none;
  transition: ease-in 0.2s;
}

.contact-highlight:hover {
  color: var(--primary-color);
}

/* Footer */

.footer {
  padding-bottom: 100px;
}

.footer__aesline {
  width: 276px;
  height: 1px;
  background-color:  rgba(37, 49, 60,0.6);
  display: block;
}

.footer__list {
  padding: 0;
  margin: 36px 0 0 0;
  display: flex;
  list-style-type: none;
  opacity: 0.6;
}

.footer__list-item-link {
  display: block;
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-weight: 600;
  color: var(--footer-text-color);
  padding: 0 12px;
  transition: ease-in 0.2s;
}


.footer__list-item:first-child .footer__list-item-link {
  padding: 0 12px 0 0;
}

.footer__list-item-link:hover {
  color: var(--primary-color);
}


.footer__socials {
  font-size: 2.4rem;
  margin: 28px 0;
}

.footer__logo-copyright {
  display: flex;
  justify-content: space-between;
}

.social-item-link {
  text-decoration: none;
}

.social-item-link:hover .footer__socials-item {
  filter: invert(62%) sepia(50%) saturate(519%) hue-rotate(343deg) brightness(90%) contrast(90%);
}

.footer__socials-item {
  margin: 0 8px;
  transition: ease-in 0.2s;
}

.social-item-link:first-child .footer__socials-item {
  margin: 0 8px 0 0;
}

svg {
  width: 24px;
  height: 24px;
}

.footer__copyright {
  color: #6D7D8B;
  font-size: 1.4rem;
  font-weight: 400;
}


