.Reservation__headline {
    text-align: center;
    margin-top: 180px;
    margin-bottom: 52px;
}



.form-container {
    margin-top: 72px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group.invalid input {
    border-color: #F48B36;
    outline: #F48B36;
}

.form-group.invalid input::placeholder {
    color: #F48B36;
}


.form-label {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.4rem;
    color: #000;
}

.form-control {
    /* remove later */
    width: 100%;
    font-size: 1.6rem;
    border: 2px solid #BBC8D4;
    border-radius: 4px;
    padding: 21px 16px;
    margin: 16px 0;
}

.form-control:focus {
    outline: none;
}

.form-control::-webkit-input-placeholder,
.form-control:-ms-input-placeholder,
.form-control::placeholder {
    font-size: 1.6rem;
    font-weight: 600;
}

.form-message {
    color: #C15803;
    font-size: 1.8rem;
    margin-bottom: 16px;
    line-height: 2.4rem;
}

.form-submit { 
    width: 100%;
    padding: 21px 20px;
    background: #fff;
    outline: none;
    border-radius: 4px;
    border: 2px solid #DB8E4F;
    font-size: 1.6rem;
    color: #DB8E4F;
    margin-top: 12px;
}

.form-wrapper {
    display: flex;
}

.form-left {
    flex-basis: 50%;
}

.cash-payment-notif {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.9rem;
    margin-bottom: 54px;
    display: block;
}

.form-right {
    margin-left: 30px;
    flex-basis: 50%;
}

.form-right button {
    cursor: pointer;
}

.Summary__headline {
    font-size: 2.4rem;
    font-weight: 400;
    margin: 0;
    line-height: 3.3rem;
}

.Summary__costs {
    text-align: right;
    font-size: 3.2rem;
    font-weight: 700;
    margin: 0;
    line-height: 4.4rem;
}



/* Summary handler */

.Summary__list {
    padding-left: 0;
    list-style-type: none;
    margin-top: 12px;
    margin-bottom: 20px;
}

.Summary__item-name {
    display: inline-block;
}

.Summary__list-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.6rem;
    line-height: 2.2rem;
    letter-spacing: 1.6px;
    font-weight: 800;
    text-align: left;
    text-transform: uppercase;
    margin: 4px 0;
}

.Summary__item-price {
    display: inline-block;
}

.spacer {
    position: relative;
    right: 0;
    width: 175px;
    height: 1px;
    background-color: #000;
    display: block;
    margin: 0px 0px 12px auto;
}

.total-cost {
    display: none;
}

.Summary__empty {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.2rem;
}

.input-comment {
    height: 208px;
}

.calendar {
    position: relative;
    padding-right: 8px;
    background-color: #fff;
    appearance: none;
    outline: none;
}

.calendar::-webkit-calendar-picker-indicator {
    /* Hide icon */
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    cursor: pointer;
}

.calendar:not(:focus):in-range::-webkit-datetime-edit-text,
.calendar:not(:focus):in-range::-webkit-datetime-edit-month-field,
.calendar:not(:focus):in-range::-webkit-datetime-edit-day-field,
.calendar:not(:focus):in-range::-webkit-datetime-edit-year-field,
.calendar:not(:focus):in-range::-webkit-datetime-edit-ampm-field,
.calendar:not(:focus):in-range::-webkit-datetime-edit-hour-field,
.calendar:not(:focus):in-range::-webkit-datetime-edit-minute-field {
    -webkit-appearance: none;
    display: none;
}



@media (max-width:1023px) {
    .select-header {
        min-width: 72px;
        padding: 8px;
    }

    .select-item {
        padding: 8px;
    }

    .form-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .form-left {
        flex-basis: 100%;

    }

    .form-right {
        flex-basis: 100%;
        margin-left: unset;
        margin-bottom: 40px
    };
}

/* mobile */
@media (max-width: 739px) {
    .mobile-padding {
        padding: 20px;
    }

    .select-list {
        --select-list-height: 76px;
    }

    .item-price {
        position: relative;
        top: 8px;
    }

    .item-wrapper {
        border-radius: 16px;
    }
}